---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { Test } from "../solid/primary/Test";
import { WorkspaceSelector } from "../solid/primary/WorkspaceSelector";
import { WorkspacePage } from "../solid/primary/WorkspacePage/WorkspacePage";

console.log("Hello Server");
---

<Layout title="Workspaces">
  <main>
    <Test client:only="solid-js" />
    <WorkspacePage client:only="solid-js" />
  </main>
</Layout>

<style>
  main {
    padding: 30px;
  }
</style>
